$light-color: #ebf0f5;
$font-bold: #4b4b4b;
$font-light: #707070;
$font-white: #e4e4e4;

.what-do-title {
    margin-top: 3rem;
    text-align: center;
    font-size: 2.5rem;
    color: $font-bold;
}
.what-do-p {
    text-align: center;
    font-size: 1.2rem;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
}
