.carrousel-item-container {
    width: fit-content;
    height: fit-content;
    // padding: 2px;
    border-radius: 5px;
    box-shadow: 0 3px 6px #00000080;
}

.carrousel-item-container img {
    width: 120px;
    border-radius: 5px;
}
